@page "/contact-us"
@inject IViewLocalizer Localizer
@model NStart.Pages.Home.ContactPageModel
@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@* Contact Header Text *@
<div class="header-with-margins has-text-centered">
    <h1 class="title montserrat_100 has-text-black is-2">@Localizer["ContactHeader"]</h1>
</div>
@* Contact Information Container *@
<div class="container">
    <div class="columns">
        @* Physical Information *@
        <div class="column is-half">
            <h2 class="title montserrat_100 is-4">@Localizer["PhysicalContactHeader"]</h2>
            <p class="opensans_400">@Localizer["PhysicalAddress"]</p>
            <p class="montserrat_400">@Localizer["PhysicalPostOfficeBox"]</p>
            <p class="montserrat_400">@Localizer["PhysicalPhone"]</p>
        </div>
        @* Digital Information *@
        <div class="column is-half">
            <h2 class="title montserrat_100 is-4">@Localizer["DigitalContactHeader"]</h2>
            <p class="montserrat_400">@Localizer["DigitalBusinessContact"]</p>
            <p class="montserrat_400">@Localizer["DigitalSupportContact"]</p>
            <p class="montserrat_400">@Localizer["DigitalUsersContact"]</p>
            <br />
            <p class="montserrat_400">@Localizer["DigitalFacebookContact"]</p>
            <p class="montserrat_400">@Localizer["DigitalTwitterContact"]</p>
        </div>
    </div>
</div>