@page "/"
@inject IViewLocalizer Localizer 
@model NStart.Pages.Home.HomePageModel
@{
    ViewData["Title"] = Localizer["PageTitle"];
    // OpenGraph + Universal Metadata
    ViewData["Title"] = Localizer["PageTitle"];
    ViewData["PageUrl"] = Url.PageLink().ToString();
    ViewData["MetadataImage"] = Localizer["TwitterImage"];
    // Twitter Metadata
    ViewData["Twitter:Title"] = Localizer["PageTitle"];
    ViewData["Twitter:Description"] = Localizer["TwitterDescription"];
    ViewData["Twitter:ImageAlt"] = Localizer["TwitterImageAlt"];
}

@* Main hero pane *@
<section class="hero background-img is-large" style="background-color: rgb(110, 0, 110)">
    <div class="hero-body" style="backdrop-filter: blur(5px)">
        <div class="container has-text-centered">
            <h1 class="title montserrat_100 has-text-white is-size-1 has-text-weight-bold">@Localizer["StudioName"]</h1>
            <h2 class="montserrat_400 has-text-light is-size-4">@Localizer["StudioSlogan"]</h2>
        </div>
    </div>
</section>
@* Who we are pane *@
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="has-text-centered">
                <h1 class="title montserrat_100 has-text-black has-text-weight-normal is-size-1">@Localizer["HistoryHeader"]</h1>
            </div>
            <div class="opensans_400 has-text-justified" style="margin-top: 1rem;">
                <h5 class="subtitle montserrat_400 has-text-black has-text-weight-light is-size-5">@Localizer["History_FirstStep_Header"]</h5>
                <p style="margin-bottom: 1rem;">@Localizer["History_FirstStep_Text"]</p>
                <h5 class="subtitle montserrat_400 has-text-black has-text-weight-light is-size-5">@Localizer["History_SecondStep_Header"]</h5>
                <p style="margin-bottom: 1rem;">@Localizer["History_SecondStep_Text"]</p>
                <h5 class="subtitle montserrat_400 has-text-black has-text-weight-light is-size-5">@Localizer["History_ThirdStep_Header"]</h5>
                <p style="margin-bottom: 1rem;">@Localizer["History_ThirdStep_Text"]</p>
                <h5 class="subtitle montserrat_400 has-text-black has-text-weight-light is-size-5">@Localizer["History_ForthStep_Header"]</h5>
                <p style="margin-bottom: 1rem;">@Localizer["History_ForthStep_Text"]</p>
            </div>
        </div>
    </div>
</section>