@page "/projects"
@inject IViewLocalizer Localizer
@model NStart.Pages.Company.ProjectsPageModel
@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<section class="hero">
    <div class="hero-body">
        @* Our Videogames Subsection*@
        <section>
            <h1 class="title montserrat_100 has-text-black is-size-2">@Localizer["OurGamesSection"]</h1>
            <br />
            <p class="opensans_400 has-text-justified">
                @Localizer["ProjectsIntroduction"]
            </p>
            <hr />
            @* Videogame Element recommended template *@
            @* 
                For each vidogame element that you want to showcase (we recommend every project that you did, even undelivered ones), you should make a copy of the test element.
                This test element is prepared to handle full metadata recognition by Bing, DuckDuckGo and Google. Almost every other search engine (Like Baidu or Terra) should detect those metadata as they are a UNIVERSAL standard.
            *@
            <div itemscope itemtype="http://schema.org/VideoGame">
                @* Divided Columns for Spec + a short game description *@
                <div class="container">
                    <div class="columns">
                        @* Specs Column *@
                        <div class="column is-half">
                            @* A technical card *@
                            <section class="card">
                                @* Header of a technical card *@
                                <header class="card-header">
                                    <p class="card-header-title montserrat_100">@Localizer["TestProjectSheetheader"]</p>
                                </header>
                                @* Content of a technical card *@
                                <div class="card-content opensans_400">
                                    @* Launch Date *@
                                    <p class="montserrat_100">@Localizer["TestProjectLaunchDate"]</p>
                                    @* Type of Project *@
                                    <p class="is-success">@Localizer["TestProjectDeliverStatus"]</p>
                                    @* Project Page *@
                                    <a href="">@Localizer["TestProjectPageLink"]</a>
                                    <hr />
                                    @* Project Minimum Specs *@
                                    <p class="montserrat_400 is-size-6">@Localizer["TestProjectSpecificationsHeader"]</p>
                                    <p>@Localizer["TestProjectSpecifications_Processor_Header"]<span itemprop="processorRequirements">@Localizer["TestProjectSpecifications_Processor"]</span>.</p>
                                    <p>@Localizer["TestProjectSpecifications_Memory_Header"]<span itemprop="memoryRequirements">@Localizer["TestProjectSpecifications_Memory"]</span>.</p>
                                    <p>@Localizer["TestProjectSpecifications_Storage_Header"]<span itemprop="storageRequirements">@Localizer["TestProjectSpecifications_Storage"]</span>.</p>
                                    <hr />
                                    @* Target Platforms *@
                                    <p class="montserrat_400 is-size-6">@Localizer["TestProjectTargetPlatformsHeader"]</p>
                                    <ul>
                                        <li itemprop="gamePlatform">Linux</li>
                                        <li itemprop="gamePlatform">PC</li>
                                        <li itemprop="gamePlatform">Xbox</li>
                                    </ul>
                                    @* Supported Game Modes *@
                                    <p class="montserrat_400 is-size-6">@Localizer["TestProjectsGameModeHeader"]</p>
                                    <div>
                                        <meta itemprop="playMode" content="SinglePlayer" />
                                        <ul>
                                            <li>@Localizer["TestProjectGameMode_SinglePlayer"]</li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>
                        @* Game Description *@
                        <div class="column is-half">
                            @* Project Title *@
                            <h2 class="title montserrat_100 is-size-4" itemprop="name">@Localizer["TestProject_ProjectName"]</h2>
                            @* Project Publisher *@
                            <div class="subtitle montserrat_400 is-size-6">
                                @* Project Developer *@
                                <div itemscope itemtype="http://schema.org/Organization">
                                    <p class="montserrat_100">@Localizer["TestProject_ProjectDeveloper_Header"]</p><span itemprop="name">@Localizer["TestProject_ProjectDeveloper"]</span>
                                </div>
                                @* Project Publisher *@
                                <p class="montserrat_100">@Localizer["TestProject_ProjectPublisher_Header"]<span itemprop="publisher">@Localizer["TestProject_ProjectPublisher"]</span></p>
                            </div>
                            <div class="opensans_400 has-text-justified">@Localizer["TestProject_ProjectDescription"]</div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>