@page "/our-team"
@inject IViewLocalizer Localizer
@model NStart.Pages.Company.TeamPageModel
@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@* Team Header Text *@
<div class="header-with-margins has-text-centered">
    <h1 class="title montserrat_100 has-text-black is-2">@Localizer["PageHeader"]</h1>
</div>
@* You should make in here you our layout for every teammate that you want to showcase in your Studio's page. *@
<div class="container">
    @* Example Teammate A *@
    <div class="columns" style="margin-top:2rem; margin-bottom:2rem;">
        @* Teammate Image *@
        <div class="column is-one-third">
            <figure class="image is-4by3">
                <img src="~/assets/pages/landing-hero.png" title="@Localizer["TeammateA_Picture_Title"]" alt="@Localizer["TeammateA_Picture_Alt"]" />
            </figure>
        </div>
        @* Teammate Description *@
        <div class="column is-two-thirds">
            @* Teammate name & position *@
            <h2 class="title montserrat_100 is-4">@Localizer["TeammateA_Name"]</h2>
            <h3 class="subtitle montserrat_400 is-6">@Localizer["TeammateA_Position"]</h3>
            <hr />
            @* Short Teammate description*@
            <p class="opensans_400 has-text-justified">@Localizer["TeammateA_Description"]</p>
            <br />
            @* Teammate various contact information ways *@
            <h4>@Localizer["ContactHeader"]</h4>
            <ul class="opensans_400">
                <li>@Localizer["TeammateA_Contact_OfficeHours"]</li>
                <li>@Localizer["TeammateA_Contact_MailInbox"]</li>
                <li>@Localizer["TeammateA_Contact_TwitterAccount"]</li>
            </ul>
        </div>
    </div>
    @* Example Teammate B *@
    <div class="columns" style="margin-top:2rem; margin-bottom:2rem;">
        @* Teammate Description *@
        <div class="column is-two-thirds">
            @* Teammate name & position *@
            <h2 class="title montserrat_100 is-4">@Localizer["TeammateB_Name"]</h2>
            <h3 class="subtitle montserrat_400 is-6">@Localizer["TeammateB_Position"]</h3>
            <hr />
            @* Short Teammate description*@
            <p class="opensans_400 has-text-justified">@Localizer["TeammateB_Description"]</p>
            <br />
            @* Teammate various contact information ways *@
            <h4>@Localizer["ContactHeader"]</h4>
            <ul class="opensans_400">
                <li>@Localizer["TeammateB_Contact_OfficeHours"]</li>
                <li>@Localizer["TeammateB_Contact_MailInbox"]</li>
                <li>@Localizer["TeammateB_TwitterAccount"]</li>
            </ul>
        </div>
        @* Teammate Image *@
        <div class="column is-one-third">
            <figure class="image is-4by3">
                <img src="~/assets/pages/landing-hero.png" title="@Localizer["TeammateB_Picture_Title"]" alt="@Localizer["TeammateB_Picture_Alt"]" />
            </figure>
        </div>
    </div>
</div>